.child-page-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;
  max-width: 400px;
  margin: 0 auto;
  color:#fff;
  background-color: #0000008a;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 1px 1px 4px 2px black;

  * {
    margin: 0.5rem 0;
  }
  .child-page-main{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-bottom: 20px;
  }
   a{
    width: 100%;
  }
}