.Toastify__toast {
  background-color: #FDD100 !important;
  color: #0058a3;
  border-radius: 9px;
}

.Toastify__toast-body {
  color: #0058a3;
  font-size: 14px;
  padding: 8px;
}

.Toastify__progress-bar {
  background: #0058a3;
}