.single-wrapper {
  display: flex;
  align-items: stretch;
  width: 100%;
  flex-wrap: wrap;
  font-family: "Josefin Sans", sans-serif;
}

.single-trans-wrap {
  display: flex;
  flex-direction: column;
  margin: 0 !important;

  small {
    text-align: center;
    margin: 0 !important;
    background-color: #fed100;
  }
}

.amount-div {
  background-color: #fff;
  margin: 0 !important;
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
  p {
    font-size: 1.2rem;
  }
}

.single-trans-box {
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  background-color: #fed100;
  margin: 0 !important;
  p {
    margin-left: 10px !important;
  }
}

.msg-wrap {
  margin: 0 !important;
  background-color: #fff;
  max-width: 300px;
  width: 100% !important;
  padding: 10px;
}

.type-transaction {
  width: 100px;
  background-color: #fff;
  border-right: 1px solid grey;
  display: flex;
  align-items: center;
  justify-content: center;
}

.trans-type-icon {
  font-size: 100px;
  color: green;
}
