@import url("https://fonts.googleapis.com/css?family=Josefin+Sans:400,400i,700,700i&display=swap");

#root {
  // PUT ALL STYLES HERE!
  background: #0058a3;
  display: flex;
  min-height: 100vh;
  flex-direction: column;

  .wrapper {
    margin-bottom: 30px;
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;
    align-content: center;
  }

  .logo {
    margin-top: 50px;
    margin-bottom: 20px;
    
    img {
      max-width: 250px;
      margin: 0 auto;
      display: block;
    }
    p {
      font-size: 20px;
      font-weight: bold;
    }
  }
}
