@import url("https://fonts.googleapis.com/css?family=Josefin+Sans:400,400i,700,700i&display=swap");

#root {
  // PUT ALL STYLES HERE!
  background: #0058a3;

  .wrapper {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
  }

  .logo {
    img {
      max-width: 250px;
      margin-top: 20px;
      margin: 0 auto;
      display: block;
    }
    p {
      font-size: 20px;
      font-weight: bold;
      color: #FDD100;
      @media (max-width: 576px){
        font-size: 16px;
      }
    }
  }
}
